# Smallest AI Keys (Voice: Speech-to-Text & Text-to-Speech)
SMALLEST_API_KEY=sk_bdf6d74c56829bc19603fc02ee1a9f9d
SMALLEST_TTS_URL=https://api.smallest.ai/waves/v1/tts
SMALLEST_STT_URL=https://api.smallest.ai/waves/v1/stt/?model=pulse&language=en

# Configurable Chat LLM Provider
# Supported Providers: openai, groq, openrouter, together, ollama, smallest, etc.
LLM_PROVIDER=openai
LLM_API_KEY=your_llm_provider_api_key_here
LLM_BASE_URL=https://api.openai.com/v1
LLM_MODEL=gpt-4o-mini
